.photo
    height: 802px
    &__blocks
        display: flex
        justify-content: space-between
        margin-top: 182px
    &__h1
        color: #50c3ff
        &_insta
            color: #ff2a75
    &__link
        color: #2e2e2e
        &::after
            content: ''
            position: absolute
    &__insta-img
        display: flex
        align-items: center
    &__icons
        height: 27px
        width: 27px
        margin-right: 9px
